/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and are protected by all applicable intellectual property laws,
* including trade secret and or copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/
.loader{animation:spin 1s linear infinite;border:4px solid #e1e1e1;border-radius:64px;border-top-color:#5258e4;height:56px!important;position:relative;width:56px!important}.loaderWrapper{align-items:center;display:flex;height:100vh;justify-content:center;position:fixed;width:100vw;z-index:999999}@keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}