/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and are protected by all applicable intellectual property laws,
* including trade secret and or copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/
.toast{align-items:center;background-color:#007a4d;display:flex;justify-content:center;margin:-8px;padding:10px 20px}.toastDescription{color:#fff;font-size:14px;margin-left:10px;margin-right:20px}.vl{border-left:1px solid #d3d3d3;height:30px;margin-left:10px;margin-right:10px}.closeToastButton{cursor:pointer}